* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trafri {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.lists {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #fff;
}

.logout {
  text-decoration: none;
  color: #fff;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #fff;
}

.sign-up {
  text-decoration: none;
  color: #fff;
}